@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: variables.$containerColor;
}

main {
  background: variables.$backgroundColor;
  min-height: 100vh;
}

footer {
  background: variables.$containerColor;
}
